@import url("https://rsms.me/inter/inter.css");

body {
  background-color: whitesmoke;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 10%;
}

form a {
  color: #47dd93;
}

form {
  display: flex;
  flex-direction: column;
  width: 30em;
  margin: 0.5em;
  padding: 0.5em;
  font-family: "Inter";
}
form input[type="text"],
input[type="password"] {
  height: 2em;
  border: solid #000 1px;
  border-radius: 0.5em;
  margin: 1.5em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  cursor: text;
}

input[type="checkbox"] {
  cursor: pointer;
}

form input:focus {
  border-color: #47dd93;
}

form label,
form p,
.form_bottom {
  text-align: start;
  margin: 0.5em;
  padding: 0.5em;
}

form .form_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.google_login {
  width: 100%;
  height: 47px;
  padding: 0.5em;
  margin: 0.5em 0.5em 1em 0.5em;

  background: #d93025;
  border: none;
  border-radius: 0.5em;

  font-style: normal;
  color: white;
}

.google_login .icon {
  margin: 0 0.6em 0 0;
}

.button_login {
  height: 47px;
  margin-top: 1.7em;

  font-style: normal;
  color: white;

  background: #47dd93;
  border: none;
  border-radius: 0.5em;
}

.cadastro_link {
  text-align: center;
  margin-top: 1.7em;
}

.input_login,
.input_login input {
  position: relative;
  outline: none;
  width: -moz-available;
}

.input_login span {
  pointer-events: none;
  color: darkgray;
  position: absolute;
  left: 0;
  top: 0;
  margin: 2.2em 0.5em 0.5em 1em;
  padding: 0.5em;
  text-transform: uppercase;
  transition: 0.3s;
}

.input_login input:valid ~ span,
.input_login input:focus ~ span {
  transform: translateX(0.5em) translateY(-1.1em);
  color: white;
  background: #47dd93;
  border-left: solid 1px #47dd93;
  border-right: solid 1px #47dd93;
  border-radius: 0.5em;
  font-size: 9px;
}
